body {
    font-family: "Stolzl", sans-serif;
    font-size: 18px;
    line-height: 1.3;
    background-color: #fff;
    color: #2D2924;
}

.container {
    max-width: 1150px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #CAFD5E;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 106px;
    box-sizing: border-box;
}

.loading-progress {
    font-size: 100px;
    font-weight: bold;
}

.page-title {
    font-size: 64px;
    line-height: 1.2;
    font-weight: 700;
}

.section-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.3;
}

.btn {
    display: inline-block;
    line-height: 1;
    padding: 13px 30px;
    font-family: "Jost", sans-serif;
    background-color: #B4FE1A;
    border: 2px solid transparent;
    transition: color .3s, background .3s, border .3s;
    border-radius: 35px;
    color: #2D2924;
}

.btn:hover {
    background-color: transparent;
    border-color: #B4FE1A;
}

.btn:focus {
    opacity: .7;
}

.image-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 1200px) {
    .page-title {
        font-size: 54px;
    }
}

@media (max-width: 1000px) {
    .page-title {
        font-size: 44px;
    }
}

@media (max-width: 768px) {
    .page-title {
        font-size: 36px;
    }

    .btn {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .page-title {
        font-size: 30px;
    }
}

@media (max-width: 468px) {
    .page-title {
        font-size: 28px;
    }
}